:root{
    --hei: 0%;
    --tracksCount: 4;
}
body{
    height: 100vh;
    background: linear-gradient(purple, blue);
    margin: 0;
    padding: 0;
}
#startScreen{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: orange;
    width: calc(60vw - 22px);
    height: calc(60vh - 22px);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    color: white;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#startScreen button{
    width: 100px;
    height: 40px;
    background-color: darkorange;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background: linear-gradient(90deg, red, darkorange);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: .25s;
}
#startScreen button:hover{
    background-size: 100% 100%;
    cursor: pointer;
}
#settings{
    margin: 20px 0;
}
#advanced{
    max-height: var(--hei);
    transition: 1s;
    overflow: hidden;
}
#basic{
    max-height: calc(100% - var(--hei));
    transition: 1s;
    overflow: hidden;
}
h1{
    margin: 0;
    padding: 0;
}
label{
    cursor: pointer;
    user-select: none;
}
#game{
    display: flex;
}
.track{
    position: relative;
    width: calc(100% / var(--tracksCount));
    height: 100vh;
}
#line{
    position: absolute;
    width: 100vw;
    height: 3vh;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    top: 80%;
}
.target{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    width: 3vh;
    height: 3vh;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.greenTarget{
    background-color: green;
}
#score{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 32px;
    padding: 10px;
}